<!DOCTYPE html>
<html>
<head>
	<title>Relatorio de Posicao de Estoque</title>
	<head>
	<style type="text/css">
		body{
			width: 100%;
			margin: 0;
			padding: 0px;
			font-size: 16px;
			line-height: 24px;
			font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
			color: rgb(33,33,33);
		}
		.report-header{
			background: rgb(197, 197, 197);
			color: rgb(48, 48, 48);
			padding: 10px;
			padding-left: 20px;
			box-sizing: border-box;
			display: block;
			position: relative;
		}
		.report-header * {
			margin: auto;
		}
		.report-body{
			width: 100%;
			display: inline-block;
			position: relative;
			padding: 5px;
			box-sizing: border-box;
			vertical-align: top;
		}
		.report-body .info p{
			padding: 5px;
			display: block;
			position: relative;
			line-height: normal;
			margin: 0;
		}
		.report-body .info span {
			font-size: 12px;
			margin-left: 10px;
		}
		table {
			width: 95%;
			max-width: 950%;
			margin-bottom: 20px;
			border-collapse: collapse;
    		border-spacing: 0;
			margin-left: 2%;
		}
		thead {
			border-bottom: 1px solid rgba(0,0,0,.5);
		}
		th {
			text-align: left;
		}
		tr {
			border-bottom: 1px solid rgba(0,0,0,.2);
		}
	</style>
	<meta charset="utf-8">
</head>
<body>
	<div class="report-header">
		<h3>Relatório de Posição de Estoque</h3>
		<p>{{date}}</p>
	</div>
	<div class="report-body">
		<div class="info">
			<span>Filtros:</span>
			<p>{{filters}}</p>
		</div>
	</div>
	<hr>
	__tabela_dados__
</body>
</html>